<div class="container">
  <h1>User Settings</h1>

  {{ form.value | json }}
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" required #nameField="ngModel" [(ngModel)]="userSettings.name"
        [class.field-error]="form.submitted && nameField.invalid" (blur)="onBlur(nameField)" />
    </div>

    <div [hidden]="!form.submitted || nameField.valid " class="alert alert-danger">
      Enter a name
    </div>

    <button type="button" class="btn btn-primary" name="singleModel" [(ngModel)]="singleModel" btnCheckbox
      btnCheckboxTrue="on" btnCheckboxFalse="off">
      {{singleModel}}
    </button>

    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers"
        [(ngModel)]="userSettings.emailOffers" />
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>

    <p>User Interface Style</p>
    <div class="form-group">

      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" value="light"
          checked btnRadio="Left" tabindex="0" role="button">Light</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" value="medium"
          btnRadio="Middle" tabindex="0" role="button">Medium</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" value="dark"
          btnRadio="Right" tabindex="0" role="button">Dark</label>
      </div>

      <!--  <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="LightInterface" value="light" checked
            [(ngModel)]="userSettings.interfaceStyle" />
          <label class="form-check-label" for="LightInterface"> Light </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="MediumInterface" value="medium"
            [(ngModel)]="userSettings.interfaceStyle" />
          <label class="form-check-label" for="MediumInterface"> Medium </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark"
            [(ngModel)]="userSettings.interfaceStyle" />
          <label class="form-check-label" for="darkInterface"> Dark </label>
        </div>
        -->
    </div>
    <div class="form-group">
      <label for="startDate">Start date</label>
      <input id="startDate" type="text" placeholder="start date" name="startDate" [(ngModel)]="startDate"
        class="form-control" bsDatepicker>
    </div>

    <div class="form-group">
      <label for="startTime">Start Time</label>
      <timepicker id="startTime" [(ngModel)]="startTime" name="startTime"></timepicker>
      <pre class="alert alert-info">Time is: {{ startTime }}</pre>
    </div>

    <div class="form-group">
      rating
      <rating [(ngModel)]="rate" name="rate"></rating>

      <div class="card">
        <pre class="card-block card-header" style="margin:15px 0;">Rate: <b>{{rate}}</b></pre>
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType"
        [(ngModel)]="userSettings.subscriptionType">
        <option *ngFor="let type of subscriptionTypes | async">{{ type }}</option>

      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control" name="notes" id="notes" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{postErrorMessage}}
    </div>

    <button class="btn btn-primary">Send</button>
  </form>
</div>